<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3> {{ contact.name }} </h3>
      <img [src]="contact.imageURL" alt="" class="img-responsive">

    <div class="pull-right">
      <button class="btn btn-primary" type="button">Edit</button>
      <button class="btn btn-danger" type="button">Delete</button>
    </div>
    </div>
    <div class="panel-body">
      <ul>
        <li>Email: {{ contact.phone }} </li>
        <li>Phone: {{ contact.email }} </li>
      </ul>
    </div>
  </div>
</div>
